/*

This file can be renamed and has to be hosted on a public location on the web.
Then, configure a widget with custom CSS style and set enter the full address of file e.g https://mydomain.com/my-widget-style.css

Example of widget considering only the custom css parameter
<iframe src="https://theodia.org/widget/v1/events ? css=https://mydomain.com/my-widget-style.css" ></iframe>

Dom model is built as follow :
iframe (Root element)
html
    body
        .theodia-events
            .container
                .none
                .groups
                    .group
                        .date
                        .events
                            .event .xxxxxxx
                                .time
                                .infos
                                    .infos-wrapper
                                        .language
                                        .rite
                                        .name
                                    .place
                .footer
                    .div

List of classes :

theodia-events .container {}
theodia-events .container .none {}
theodia-events .container .groups {}
theodia-events .container .groups .group {}
theodia-events .container .groups .group .date {}
theodia-events .container .groups .group .events {}
theodia-events .container .groups .group .events .event {}
theodia-events .container .groups .group .events .event .time {}
theodia-events .container .groups .group .events .event .infos {}
theodia-events .container .groups .group .events .event .infos .infos-wrapper {}
theodia-events .container .groups .group .events .event .infos .infos-wrapper .language {}
theodia-events .container .groups .group .events .event .infos .infos-wrapper .rite {}
theodia-events .container .groups .group .events .event .infos .infos-wrapper .name {}
theodia-events .container .groups .group .events .event .infos .place {}
theodia-events .container .footer {}
theodia-events .container .footer div {}
*/


html {
    font-size: 14px;
    background-color: green;
    font-family: Helvetica, Arial, sans-serif;
    color: #444;
}

body {
    background-color: transparent;
}

.theodia-events .container {
    font-size: 1em;
    line-height: 1.5em;
}

.theodia-events .container .groups .group {
    display: flex;
    flex-direction: row;
    padding: 8px 0;
    margin-bottom: 8px;
}

.theodia-events .container .groups .group:first-child {
    padding-top: 0;
}

.theodia-events .container .groups .group:not(:last-child) {
    border-bottom: 1px solid rgba(136, 136, 136, 0.33);
}

.theodia-events .container .groups .group .date {
    font-weight: bold;
    padding: 3px 8px 0 0;
    width: 100px;
    background-color: green;
}

.theodia-events .container .groups .group .events .event {
    display: flex;
    flex-direction: row;
    padding: 4px 0 4px 0;
    padding-right: 16px;
    transition: padding .2s ease, background-color .2s ease;
    text-decoration: none;
    color: blue;
}

.theodia-events .container .groups .group .events .event:not(:last-child) {
    margin-bottom: 8px;
}

.theodia-events .container .groups .group .events .event:active {
    background: rgba(0, 0, 0, 0.2);
}

.theodia-events .container .groups .group .events .event:hover {
    padding-left: 8px;
    padding-right: 8px;
}

.theodia-events .container .groups .group .events .event .time {
    width: 50px;
}

.theodia-events .container .groups .group .events .event .infos .infos-wrapper {
    display: flex;
    flex-direction: row;
}

.theodia-events .container .groups .group .events .event .infos .infos-wrapper .language,
.theodia-events .container .groups .group .events .event .infos .infos-wrapper .rite {
    width: 50px;
}

.theodia-events .container .groups .group .events .event .infos .infos-wrapper .name {
    flex: 1;
}

.theodia-events .container .groups .group .events .event .infos .place {
}

.theodia-events .container .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height: 36px;
}

.theodia-events .container .footer div {
    flex: 1;
    margin: 0;
    text-align: center;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    font-size: 20px;
}

.theodia-events .container .footer div:hover {
    background: rgba(0, 0, 0, 0.2);
}

.theodia-events .container .footer div:active {
    background: rgba(0, 0, 0, 0.3);
}

